.Rproj.user
.Rhistory
.RData
.Ruserdata
birdtree_output.nex
birdtree_output.nex
chatgpt_thesis_code.R
co-occurrence analysis.R
drongo_analysis.R
generate_cooc_matrix.R
india_boundary.gpkg
india_states.gpkg
namdapha_boundary_shp.gpkg
phylogenetic_correction_code.R
Refining thesis ideas.docx
rivers.cpg
rivers.dbf
rivers.prj
rivers.qpj
rivers.shp
rivers.shx
Ronith permission letter with sign.docx
Ronith_ThesisProposal_Final.pptx
Thesis ideas.docx
thesis_network and_vocal_analysis.R
weighted_vocal_participation_code.R
~WRL0003.tmp
